<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ asset('assets/main/css/local.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/main/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/main/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('assets/main/js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('assets/main/bootstrap/js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />

    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>

    <!--<title>{% block title %} {% endblock %}</title>-->
    <title>Dashboard - Admin</title>
  </head>

  <body>
    <div id="wrapper">
      
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('aswo_dashboard_accueil') }}"> Dashboard </a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul id="active" class="nav navbar-nav side-nav">
            <li class="selected"><a href="{{ path('aswo_dashboard_intranet') }}"><i class="fa fa-bullseye"></i> Intranet</a></li>
            <li><a href="{{ path('aswo_dashboard_serveurs') }}"><i class="fa fa-tasks"></i> Serveurs</a></li>
            <li><a href="{{ path('aswo_dashboard_inventaire') }}"><i class="fa fa-archive"></i> Inventaire</a></li>
            <li><a href="{{ path('aswo_dashboard_logsscans') }}"><i class="fa fa-barcode"></i> Logs Scans</a></li>
            <li><a href="{{ path('aswo_dashboard_logsprint') }}"><i class="fa fa-print"></i> Logs Print</a></li>
            <li><a href="{{ path('aswo_dashboard_utilisateurs') }}"><i class="fa fa-users"></i> Utilisateurs </a></li>
            <li><a href="{{ path('aswo_dashboard_plannings') }}"><i class="fa fa-calendar"></i> Plannings </a></li>
            <li><a href="{{ path('aswo_dashboard_informations') }}"><i class="fa fa-bell"></i> Informations </a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown applicatifs-dropdown ">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-table"></i> Applicatifs <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('aswo_dashboard_gestionreseau') }}"> Gestion Reseau </a></li>
                <li><a href="{{ path('aswo_dashboard_scansaswo') }}"> Scans Aswo </a></li>
              </ul>
            </li>

            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Steve Miller<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('aswo_dashboard_profil') }}"><i class="fa fa-user"></i> Profil</a></li>
                <li><a href="{{ path('aswo_dashboard_settings') }}"><i class="fa fa-gear"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('aswo_dashboard_connexion') }}"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h1>
              {% block bodyTitle %}
              {% endblock %}
            </h1>
          </div>
        </div>
      
        <div class="row">
          {#Bonjour {{ app.user.username }} - {{ app.user.email }}#}
          
          {% block body %}

          {% endblock %}
        </div>
      </div>

    </div>
  </body>
</html>



