{% extends "content.html.twig" %}

{% block loginContent %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                {% block userContent %}
                {% endblock userContent %}
                <div class="login100-more" >
                    <img src="{{ asset('assets/connexion/images/imgDashboard.jpg') }}">
                </div>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    
    <script src="{{ asset('assets/connexion/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/connexion/vendor/animsition/js/animsition.min.js') }}"></script>
    <script src="{{ asset('assets/connexion/vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ asset('assets/connexion/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/connexion/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/connexion/vendor/daterangepicker/moment.min.js') }}"></script>
    <script src="{{ asset('assets/connexion/vendor/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/connexion/vendor/countdowntime/countdowntime.js') }}"></script>
    <script src="{{ asset('assets/connexion/js/main.js') }}"></script>
{% endblock %}