{% extends "content.html.twig" %}

{% block title %}
  	Utilisateurs
{% endblock %}

{% block titlecontent %}
  	Utilisateurs
{% endblock %}

{% block content %}
	<div class="col-lg-12">
		<div class="row text-center">
            <div class="slide-bottom">
                {% if message is defined and message != ''%}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong> {{ message }} </strong> 
                    </div>
                {% endif %}

                {% if form is defined and form_errors(form.username) != null %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Le nom d'utilisateur <strong> {{ form.vars.value.username }} </strong> est déjà utilisé !
                    </div>
                {% endif %}

                {% if form is defined and form_errors(form.email) != null %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        L'email <strong> {{ form.vars.value.email }} </strong> est déjà utilisé !
                    </div>
                {% endif %}
            </div>

			<h2> Liste des Membres </h2>
            <div id="shieldui-grid1" role="grid" aria-readonly="true" class="sui-grid sui-grid-core">
                <div class="sui-gridheader">
                    <table class="sui-table">
                        <thead> 
                            <tr role="row" class="sui-columnheader">
                                <th data-field="Source" role="columnheader" tabindex="-1" class="sui-headercell">
                                    <a href="#" class="sui-link sui-unselectable" unselectable="on" tabindex="-1">Identifiant</a>
                                </th>
                                <th data-field="Amount" role="columnheader" tabindex="-1" class="sui-headercell">
                                    <a href="#" class="sui-link sui-unselectable" unselectable="on" tabindex="-1">Adresse Email</a>
                                </th>
                                <th data-field="Percent" role="columnheader" tabindex="-1" class="sui-headercell">
                                    <a href="#" class="sui-link sui-unselectable" unselectable="on" tabindex="-1">Role</a>
                                </th>
                                <th data-field="Percent" role="columnheader" tabindex="-1" class="sui-headercell">
                                    <div href="#" class="sui-link sui-unselectable" unselectable="on" tabindex="-1"></div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="sui-gridcontent">
                    <table class="sui-table">
                        <tbody>
                            {% for user in users %}
                                <tr class="sui-row" role="row">
                                    <td role="gridcell" tabindex="-1" class="sui-cell">{{ user.username }}</td>
                                    <td role="gridcell" tabindex="-1" class="sui-cell">{{ user.email }}</td>
                                    <td role="gridcell" tabindex="-1" class="sui-cell">
                                        {% for role in user.roles %}
                                            {% if role == 'ROLE_SUPER_ADMIN' %} 
                                                Admin
                                            {% endif %}
                                            {% if role == 'ROLE_DEFAULT' %}
                                                Utilisateur
                                            {% endif %}
                                            {% set break = true %}
                                        {% endfor %}</td>
                                    <td role="gridcell" tabindex="-1" class="sui-cell">
                                        <a type="button" href="/" class="btn btn-warning" style="text-decoration:none;"> Modifier </a>
                                        <a type="button" href="{{ path("aswo_userbundle_delete", {'userName': user.username }) }}" class="btn btn-danger" style="text-decoration:none;"> Supprimer </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
	</div>

	<div class="col-lg-12">
    
		<div class="row text-center">
			<h2> Créer un Membre </h2>
		</div>

        <form class="login100-form validate-form" action="{{ path("fos_user_registration_register") }}" method="post">  
            <div>
                <label for="emailaddress" class="col-md-2">
                    Identifiant :
                </label>

                <div class="col-md-9">
                    <input type="text" class="form-control" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}">
                </div>

                <div class="col-md-1">
                    <i class="fa fa-lock fa-2x"></i>
                </div>
            </div>

            <div>
                <label for="emailaddress" class="col-md-2">
                    Adresse Email :
                </label>

                <div class="col-md-9">
                    <input type="email" class="form-control" type="email" name="fos_user_registration_form[email]" required="required">
                </div>

                <div class="col-md-1">
                    <i class="fa fa-lock fa-2x"></i>
                </div>
            </div>

            <div>
                <label for="mdp" class="col-md-2">
                    Mot de passe :
                </label>

                <div class="col-md-9">
                    <input id="passwordFirst" type="password" class="form-control" name="fos_user_registration_form[plainPassword][first]" required="required">
                </div>

                <div class="col-md-1">
                    <i class="fa fa-lock fa-2x"></i>
                </div>
            </div>

            <div>
                <label for="mdp" class="col-md-2">
                    Confirmation du mot de passe :
                </label>

                <div class="col-md-9">
                    <input id="passwordSecond" type="password" class="form-control" name="fos_user_registration_form[plainPassword][second]" required="required">
                </div>

                <div class="col-md-1">
                    <i class="fa fa-lock fa-2x"></i>
                </div>
            </div>

            <div>
                <div class="col-md-2"></div>
                <div class="col-md-9 center">
                    <input type="button" class="btn btn-success" onclick="generateRandomPassword();" value="Générer un mot de passe aléatoire"></input>
                </div>
            </div>

            <div>
                <label for="roles" class="col-md-2">
                    Role :
                </label>

                <div class="col-md-9">
                    <div class="col-md-1">
                        <input type="radio" class="form-control" name="fos_user_registration_form[roles][0]" required="required" value="ROLE_DEFAULT">
                    </div>
                    <label for="roles" class="col-md-2" style="padding-top:8px;">
                        Utilisateur 
                    </label>

                    <div class="col-md-1">
                        <input type="radio" class="form-control" name="fos_user_registration_form[roles][0]" required="required" value="ROLE_SUPER_ADMIN">
                    </div>
                    <label for="roles" class="col-md-2" style="padding-top:8px;">
                        Admin
                    </label>
                </div>

                <div class="col-md-1">
                    <i class="fa fa-lock fa-2x"></i>
                </div>
            </div>
            <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="{{csrf_token('registration')}}">

            <div class="col-md-10">
                <div class="col-md-5"></div>
                <button type="submit" class="btn btn-info col-md-5">
                    Inscription
                </button>
            </div>
        </form>
	</div>
{% endblock %}

{% block javaScriptsContent %}
    <script type="text/javascript"> 
        $(document).ready(function() {
            var elements = document.getElementsByClassName("selected");
            if(elements != null && elements.length != 0) {
                elements[0].className = "notSelected";
            } 
            document.getElementById("utilisateurs").className = "selected";
        })

        function generateRandomPassword() {
            var char = 'azertyuiopqsdfghjklmwxcvbn,;:!?./§123456789AZERTYUIOPQSDFGHJKLMWXCVBN';
            var password = '';
            var size = 10;
            for(i = 0 ; i < size ; i++){
                var random = Math.round(Math.random()*char.length);
                password += char.substring(random, random + 1);
            }
            document.getElementById('passwordFirst').setAttribute("value", password);
            document.getElementById('passwordSecond').setAttribute("value", password);
        }
    </script>
{% endblock %}